body{
  border: 0;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Segoe WP Semibold';
  src: url('../fonts/ofont.ru_Segoe WP Semibold.ttf');
}

header {
  display: flex;
  width: 980px;
  margin: 13px auto 0;
  justify-content: space-between;
  font-family: "Segoe WP Semibold", sans-serif;

    p{
      font-size: 1.8rem;
      margin: 0;
    }

    div{
      display: flex;
      justify-content: space-between;
        .logo-bold{
          color: #1298dd;
          font-size: 2rem;
          margin: 0 8px 0 2px;
          line-height: 1.1;
        }

        ul{
          display: flex;
          justify-content: space-between;
          width: 370px;
          list-style: none;
          margin-top: 8px;

            li {
                a{
                  text-decoration: none;
                  color: #000;
                }

                input {
                  color: white;
                  height: 30px;
                  border: 0;
                  width: 100px;
                  outline: 0;
                  border-radius: 5px;
                  background: linear-gradient(to bottom, #37b2f8, #1f85e7);
                }

                input:hover {
                  background: red;
                  cursor: pointer;
                }

                input:active{
                  background: #7a0707;
                }
            }
        }
   }
}